*{ /* for all the elements of the page*/
  box-sizing: border-box; 
  margin: 0;
  padding: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}
/* for all the classes we will need to define it inside .class_name{} */


/* Navbar section
<nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar_logo"><i class="fa-solid fa-mountain-sun"></i>  <h3> Go Solo </h3><br>
                </a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class ="bar"></span>
                <span class ="bar"></span>
                <span class ="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/" class="navbar_links">Home</a>
                </li>
                <li class="navbar_item">
                    <a href="/about.html" class="navbar_links">About</a>
                </li>
                <li class="navbar_item">
                    <a href="/fundme.html" class="navbar_links">Fund Me</a>
                </li>
                <li class="navbar_item">
                    <a href="/joinme.html" class="navbar_links">Join Me</a>
                </li>
                <li class="navbar_btn">
                    <a href="/signin.html" class="button">Sign In</a>
                </li>
            </ul>

            
        </div>
    </nav>
*/
.navbar {
background: rgb(15, 15, 15);
height: 130px;
display:flex; /*flexible*/
justify-content: center;
align-items: center;
font-size: 1.2rem;  /*1 rem= 16px*/
position: sticky; /* position will be sticky*/
top: 0;
z-index: 999; /*z- index is more like a 3 dimensional positioning/stacking, 
No matter whereever I scroll my screen my nav bar will be at the top   */
}

.navbar_container {
    display:flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding:auto;
    z-index: 1;

}



#navbar_logo {  /* since it is an id inside a div*/
    background-color: rgb(236, 227, 227);
    /* makes the whole navbar_logo section have that gradient color */ 
    background-image: linear-gradient(to top,  rgb(230, 20, 20)5%, rgb(253, 237, 237) 100%);
    background-size: 100%;
    -webkit-background-clip:text; /* the color affect will only happen in the text*/
    -moz-background-clip:text;  /* the color affect will only happen in the text*/
    -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    
}
. fa-solid fa-mountain-sun {
  margin-right: 0.5rem;
}


.navbar_menu {
display:flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar_item{

  height:80px;

}
.navbar_links {
color:aliceblue;
display:flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;

}

.navbar_btn{
display:flex;
justify-content: center;
align-items:center;
padding: 0 1rem;
width: 100%;
}

.button {  /* class button*/
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 10px;
background: #f17c7c ; /* button background*/
color:aliceblue; /*text color*/


}

/* Navbar hover effect*/

.button:hover { 
background: #f3364f; /*when we will move the curson on the button it will
 change it's original color to purple*/
transition: all 0.3s ease; /* after clicking the button instead of moving to the
 nextpage instantly it will delay 0.3 sec*/
 

}

.navbar_links:hover {
  color: #f3364f; /*hover effect, only text color will change*/
  transition: all 0.3s ease;
}

/*mobile responsive tablet reponsive part - " The media query"*/

@media screen and (max-width: 960px) {
/* One way to use media queries is to have an alternate CSS section 
right inside your style sheet. 

Media queries allow you to apply CSS styles depending on a device's general
 type (such as print vs. screen) or other characteristics such as screen 
 resolution or browser viewport width. Media queries are used for the following: 
To conditionally apply styles with the CSS @media and @import at-rules.

*/ 


/* this will help design the drop down navbar */ 
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;

  }


  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 600px;
    position: absolute;
    top: -1000px; /* Because the animation will come from the top  */ 
    opacity: 0;  /* transparency level  */ /* if I comment top:-1000px and opacity:0 
    the hovered navbar will be vanished/invisible */
    background: #141414;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    height: 50vh; /* viewport height  */
    z-index: -1; /* so that we can click on the icon to trigger this  */


  }

  .navbar_menu.active {
/*  this is going to be the Javascript code that is going to trigger the dropdown navbar  */
    background: black;
    top: 100%; /* This will show the entire active menu  */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
    /* you can't see anything untill you active/edit the menubar  */
  }

  #navbar_logo {
    padding: 25px;

  }

  .navbar_toggle .bar {
     width: 25px;
     height: 3px;
     margin: 5px auto;
     transition: all 0.3s ease-in-out;
     background: white ;

  }
  .navbar_item{
    width: 100%;

  }
  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

   /* Remember: from index.html file
      <div class="navbar_toggle" id="mobile-menu">
                <span class ="bar"></span>
                <span class ="bar"></span>
                <span class ="bar"></span>
            </div>

     */ 

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20% );


  } 

  .navbar_btn {
    padding-bottom: 2rem;

  }
  .button {
    display: flex;
     justify-content: center;
     align-items: center;
     width: 80%;
     height: 80px;
     margin: 0;

  }

  .navbar_toggle .bar {  /* displays the 3 white bar sign  */ 
    display: block;
    cursor: pointer;
  }

  /* Now we need the toggle bar to work and put some 
  animation into it as well.
  
  we  want our 3 white bar= our navbar to interact with one click
 we want -
 1. when we will click the 3bar it will open the navbar menu like 
 a drop down ( but for a particular width only, like we mentioned 
 for our maxwidth=960px, and we will see the drop down menu other wise
 usual screen
 
 when we will be watching the dropdown menu we want our 3 bar sticks to turn into a cross(x).
 and when we don't want to see the dropdown menu we will click the
 cross(x) and the dropdwon menu will hide and clear the view
  */

  
    /* In case if you 
    forgot about what is nth-child  selector in HTML is , please visit: https://youtu.be/TVj1avJj8a8  
    Remember you can use n-th child selector as an alternative to "classes" or "ID"s and just add styles to a specific elelment 
    of a list or html page using n-th child
    */
    
  
 /*  we will transform our 3 bars to a cross as follows:
      1. for a cros we only need two lines/sticks and that is why we will make
      our 2nd bar/line/stick's opacity=0 meaning the 2nd bar will be invisible.
      2. and for the 1st and 3rd bar will will transform them and rotate them +45deg and -45deg*/ 

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* however making this styles/ designs will not work until we program it in javascript*/



}

/* Main Section

<div class="main">
      <div class="main_container">
        <div class="main_content">
            <h1>Thinking About a Solo Trip?</h1>
            <h6>Then Sit Tight and Learn What You Need To Know Before You Start Your Solo Venture! </h6>
            <p>Solo travel can be a rewarding and enriching experience, as it allows you to have complete freedom and control over your travel plans and activities.</p>
            <button class = "main_btn"><a href = "/">Get Started</a></button>
        </div>
        <div class="main_img_container">
            <img src="images/mainpagepic1.svg" alt="pic" id="main_img"/>
        </div>
      </div>
    </div>
*/

.main {
  background-color: #141414; /* transparent black*/
  grid-template-columns: 1fr 1fr; /* 1FR = 1/3rd or 33.333% of the available 
  space.*/
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  background-color:#f17c7c;
  background-image: linear-gradient(to top,  rgb(211, 72, 72)5%, rgb(253, 237, 237) 100%);
  background-size: 100%;
  -webkit-background-clip:text ; /* the color affect will only happen in the text*/
  -moz-background-clip:text;  /* the color affect will only happen in the text*/
  -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.5rem;
  font: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  padding-top: 20px;

}

.main_content h6 {
  font-size: 4rem;
  background-color:#f17c7c;
  background-image: linear-gradient(to top, rgb(41, 151, 214)5%, rgb(129, 230, 240) 100% );
  background-size: 100%;
  -webkit-background-clip:text ; /* the color affect will only happen in the text*/
  -moz-background-clip:text;  /* the color affect will only happen in the text*/
  -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  /*font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  padding-top: 20px; */

}

.main_content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: aliceblue;
}

.main_btn {
  font-size: 1rem;
  background: #f17c7c; /* button b
  ackground*/
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;

}

.main_btn a {
  position: relative;
  z-index: 2;
  color: aliceblue;
  text-decoration: none;

}

/*  The ::after selector inserts something after the content of each selected element(s).

Use the "content" property to specify the content to insert.

Use the ::before selector to insert something before the content. 

p::after {
  content: " - Remember this";
}
*/

.main_btn:after {
position: absolute;
content: ''; /* empty string for now, will change later */
top: 0;
left: 0;
width: 0;
height: 100%;
background:  #f3364f;
transition: all 0.3s;
border-radius: 10px;


}

/* main section hover effect*/
.main_btn:hover {
color: aliceblue;

}

.main_btn:hover:after {
  width: 100%;

}

.main_img_container {
  text-align: right;
  padding-right: 25px;
}

#main_img {
  height:60%;
  Width:60%;
  
}

/*  Mobile Responsive*/

@media screen and (max-width:768px) {

  .main_container{
  display:grid;
  grid-template-columns:auto;
  align-items: center; /* will keep the items/contents in the center  */
  justify-self: center;
  width: 100%;
  margin: 0 auto;
  height: 90vh;

  }

  .main_content {
    text-align: center;
    margin-bottom: 4rem;

  }

  .main_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;

  }

  .main_content h6 {
    font-size: 3rem;
    

  }

  .main_content p {
    font-size: 1.5rem;
    font-size: 1rem;

  }

  


}

/*  media query */ 
@media screen and (max-width: 480px){
  .main_content h1 {
    font-size: 2rem;
    margin-top: 3rem;

  }

  .main_content h6 {
    font-size: 2rem;
    

  }

  .main_content p {
    font-size: 1.5rem;
    font-size: 2rem;

  }

  .main_btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }


} 
/* main part 2 content

<div class="main_two">
        <h1>ABC</h1>
        <div class="main_two_container">
            <div class="main_two_content">
                <h2>Abhugfisuhfis</h2>
                <p>hsdkgfisd gfdshgff jdgfshdgfuysg </p>
                <button> hubinkl</button>

            </div>
        </div>
    </div>
*/

.main_two {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main_two h1 {
  background-color:#f17c7c;
  background-image: linear-gradient(
    to right,
    #c78573 0%,
    #ebc39e 0%,
    #a5584e 50%,
    #d62276 80%,
    #e20c70 100% );
  background-size: 100%;
  -webkit-background-clip:text ; /* the color affect will only happen in the text*/
  -moz-background-clip:text;  /* the color affect will only happen in the text*/
  -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
  -moz-text-fill-color:transparent;
  margin-bottom: 5rem;
  font-size:3rem ;
}

.main_two_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.main_two_content {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
     rgba(0,0,0,0) 0%,
     rgba(17,17,17,0.6) 100%
     ); /* linear gradient to make background even darker
     and added image through css*/
  background-size: cover;
  position: relative;
  color: aliceblue;
  display:flex;
  grid-template-columns: auto;

}

.main_two_content:nth-child(1) {
  background-image: linear-gradient(
  to bottom,
  rgba(0,0,0,0) 0%,
  rgba(17,17,17,0.6) 100%), 
  url('/images/planeview.jpg'); /* linear gradient to make background even darker*/
  
}

.main_two_content:nth-child(2) {
  background-image: linear-gradient(
  to bottom,
  rgba(0,0,0,0) 0%,
  rgba(17,17,17,0.6) 100%), 
  url('/images/bagpack.jpg'); /* linear gradient to make background even darker*/
  
}

.main_two_content h2 {
  position:absolute;
  top: 350px;
  left: 30px;

}

.main_two_content p {
  position:absolute;
  top: 400px;
  left: 30px;
  
}

.main_two_content button {
  color:aliceblue;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #f17c7c;
  position: absolute;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
  
}

.main_two_content:hover {
 transform: scale(1.075);
 transition: 0.2s ease-in;
 cursor: pointer;

}

@media screen and (max-width: 960px){

  .main_two {
    height: 1600px;

  }
  
  .main_two h1 {
    font-size: 2rem;
    margin-top: 12 rem;

  }
}


@media screen  and (max-width:480px){

  .main_two {
    height: 1400px;

  }
  
  .main_two h1 {
    font-size: 1.2rem;


  }

  .main_two_content {
    width: 300px;

  }

  
}

/*Footer CSS*/

.footer_container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo {
  color:aliceblue;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;

}

.footer_links {
  width: 100%;
  max-width: 1000px;
  display:flex;
  justify-content: center;

}

.footer_link_wrapper {
display: flex;
}

.footer_link_items {
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 16px;
text-align: left;
width: 160px;
box-sizing: border-box;


}


.footer_link_items h2 {
  margin-bottom: 16px;

}

.footer_link_items > h2 {
  color:aliceblue;

}

.footer_link_items a {
  color: aliceblue;
  text-decoration: none;
  margin-bottom: 0.5rem;

}

.footer_link_items a:hover {
  color:aliceblue;
  transition: 0.3s ease-out;
}


/* social icons*/
.social_icon_links {
  color: aliceblue;
  font-size: 24px;

}

.social_media_wrap {
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
max-width: 1000px;
margin: 40px auto 0 auto;


}

.social_media_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.footer_logo {
color: aliceblue;
justify-self: flex-start;
margin-left: 20px;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
align-items: center;
margin-bottom: 16px;
}

.website_rights p {
  color: aliceblue;

}

@media screen and (max-width: 820px){
  .footer_links {
    padding-top: 2rem;

  }

  .footer_logo {
   margin-bottom: 2rem;

  }
  .website_rights {
    margin-bottom: 2rem;

  }

  .footer_link_wrapper {
    flex-direction: column;

  }

  .social_media_wrap {

    flex-direction: column;

  }
}

@media screen and (max-width: 400px) {

  .footer_link_items{
     margin: 0;
     padding: 10px;
     width:100% ;
  }
  
}