*{ /* for all the elements of the page*/
  box-sizing: border-box; 
  margin: 0;
  padding: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}
/* for all the classes we will need to define it inside .class_name{} */
.navbar {
background: rgb(15, 15, 15);
height: 130px;
display:flex; /*flexible*/
justify-content: center;
align-items: center;
font-size: 1.2rem;  /*1 rem= 16px*/
position: sticky; /* position will be sticky*/
top: 0;
z-index: 999; /*z- index is more like a 3 dimensional positioning/stacking, 
No matter whereever I scroll my screen my nav bar will be at the top   */
}

.navbar_container {
    display:flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding:auto;
    z-index: 1;

}



#navbar_logo {  /* since it is an id inside a div*/
    background-color: rgb(236, 227, 227);
    /* makes the whole navbar_logo section have that gradient color */ 
    background-image: linear-gradient(to top,  rgb(211, 72, 72)5%, rgb(253, 237, 237) 100%);
    background-size: 100%;
    -webkit-background-clip:text; /* the color affect will only happen in the text*/
    -moz-background-clip:text;  /* the color affect will only happen in the text*/
    -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    
}
. fa-solid fa-mountain-sun {
  margin-right: 0.5rem;
}


.navbar_menu {
display:flex;
align-items: center;
list-style: none;
text-align: center;
}

.navbar_item{

  height:80px;

}
.navbar_links {
color:aliceblue;
display:flex;
align-items: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;

}

.navbar_btn{
display:flex;
justify-content: center;
align-items:center;
padding: 0 1rem;
width: 100%;
}

.button {  /* class button*/
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
padding: 10px 20px;
height: 100%;
width: 100%;
border: none;
outline: none;
border-radius: 10px;
background: #f17c7c ; /* button background*/
color:aliceblue; /*text color*/

}

.button:hover { /*hover effect*/
background: #f3364f; /*when we will move the curson on the button it will
 change it's original color to purple*/
transition: all 0.3s ease; /* after clicking the button instead of moving to the
 nextpage instantly it will delay 0.3 sec*/

}

.navbar_links:hover {
  color: #f3364f; /*hover effect, only text color will change*/
  transition: all 0.3s ease;
}

/*mobile responsive tablet reponsive part - " The media query"*/

@media screen and (max-width: 960px) {
/* One way to use media queries is to have an alternate CSS section 
right inside your style sheet. 

Media queries allow you to apply CSS styles depending on a device's general
 type (such as print vs. screen) or other characteristics such as screen 
 resolution or browser viewport width. Media queries are used for the following: 
To conditionally apply styles with the CSS @media and @import at-rules.

*/ 


/* this will help design the drop down navbar */ 
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;

  }


  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 600px;
    position: absolute;
    top: -1000px; /* Because the animation will come from the top  */ 
    opacity: 0;  /* transparency level  */ /* if I comment top:-1000px and opacity:0 
    the hovered navbar will be vanished/invisible */
    background: #141414;
    padding-top: 50px;
    padding-right: 50px;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    height: 50vh; /* viewport height  */
    z-index: -1; /* so that we can click on the icon to trigger this  */


  }

  .navbar_menu.active {
/*  this is going to be the Javascript code that is going to trigger the dropdown navbar  */
    background: black;
    top: 100%; /* This will show the entire active menu  */
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
    /* you can't see anything untill you active/edit the menubar  */
  }

  #navbar_logo {
    padding: 25px;

  }

  .navbar_toggle .bar {
     width: 25px;
     height: 3px;
     margin: 5px auto;
     transition: all 0.3s ease-in-out;
     background: white ;

  }
  .navbar_item{
    width: 100%;

  }
  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

   /* Remember: from index.html file
      <div class="navbar_toggle" id="mobile-menu">
                <span class ="bar"></span>
                <span class ="bar"></span>
                <span class ="bar"></span>
            </div>

     */ 

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20% );


  } 

  .navbar_btn {
    padding-bottom: 2rem;

  }
  .button {
    display: flex;
     justify-content: center;
     align-items: center;
     width: 80%;
     height: 80px;
     margin: 0;

  }

  .navbar_toggle .bar {  /* displays the 3 white bar sign  */ 
    display: block;
    cursor: pointer;
  }

  /* Now we need the toggle bar to work and put some 
  animation into it as well.
  
  we  want our 3 white bar= our navbar to interact with one click
 we want -
 1. when we will click the 3bar it will open the navbar menu like 
 a drop down ( but for a particular width only, like we mentioned 
 for our maxwidth=960px, and we will see the drop down menu other wise
 usual screen
 
 when we will be watching the dropdown menu we want our 3 bar sticks to turn into a cross(x).
 and when we don't want to see the dropdown menu we will click the
 cross(x) and the dropdwon menu will hide and clear the view
  */

  
    /* In case if you 
    forgot about what is nth-child  selector in HTML is , please visit: https://youtu.be/TVj1avJj8a8  
    Remember you can use n-th child selector as an alternative to "classes" or "ID"s and just add styles to a specific elelment 
    of a list or html page using n-th child
    */
    
  
 /*  we will transform our 3 bars to a cross as follows:
      1. for a cros we only need two lines/sticks and that is why we will make
      our 2nd bar/line/stick's opacity=0 meaning the 2nd bar will be invisible.
      2. and for the 1st and 3rd bar will will transform them and rotate them +45deg and -45deg*/ 

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* however making this styles/ designs will not work until we program it in javascript*/



}

/* Main Section*/

.main {
  background-color: #141414; /* transparent black*/
  grid-template-columns: 1fr 1fr; /* 1FR = 1/3rd or 33.333% of the available 
  space.*/
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main_content h1 {
  font-size: 4rem;
  background-color:#f17c7c;
  background-image: linear-gradient(to top, rgb(211, 72, 72)5%, rgb(253, 237, 237) 100% );
  background-size: 100%;
  -webkit-background-clip:text ; /* the color affect will only happen in the text*/
  -moz-background-clip:text;  /* the color affect will only happen in the text*/
  -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.5rem;
  font: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  padding-top: 20px;

}

.main_content h6 {
  font-size: 4rem;
  background-color:#f17c7c;
  background-image: linear-gradient(to top, rgb(41, 151, 214)5%, rgb(129, 230, 240) 100% );
  background-size: 100%;
  -webkit-background-clip:text ; /* the color affect will only happen in the text*/
  -moz-background-clip:text;  /* the color affect will only happen in the text*/
  -webkit-text-fill-color: transparent;  /* the text is now filled with color*/
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  /*font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  padding-top: 20px; */

}

.main_content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: aliceblue;
}

.main_btn {
  font-size: 1rem;
  background: #f17c7c; /* button b
  ackground*/
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;

}

.main_btn a {
  position: relative;
  z-index: 2;
  color: aliceblue;
  text-decoration: none;

}

/*  The ::after selector inserts something after the content of each selected element(s).

Use the "content" property to specify the content to insert.

Use the ::before selector to insert something before the content. 

p::after {
  content: " - Remember this";
}
*/

.main_btn:after {
position: absolute;
content: ''; /* empty string for now, will change later */
top: 0;
left: 0;
width: 0;
height: 100%;
background: #4837ff ;
transition: all 0.3s;
border-radius: 10px;


}

.main_btn:hover {
color: aliceblue;

}

.main_btn:hover:after {
  width: 100%;

}

.main_img_container {
  text-align: center;
}

#main_img {
  height:80%;
  Width:80%;
}